<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer List</title>
    <th:block th:insert="flagments/html-head"/>
    <script>
        $(document).ready(function () {
            $('#aTable').dataTable()
        });
    </script>
    <style>
    </style>
</head>
<body>
<th:block th:insert="flagments/page-header"/>
<div class="container ml-20 mt-10">
    <p class="text-2xl mb-4 bg-gray-500 p-4 text-gray-100">Customer List ::</p>
    <table id="aTable" class="table table-striped" style="width:80%">
        <thead class="bg-gray-400">
        <tr>
            <th>Id</th>
            <th>Company Name</th>
            <th>Contact Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Phone#</th>
            <th>Country</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c : ${customers}">
            <td th:text="${c.id}"/>
            <td th:text="${c.customerName}"/>
            <td th:text="@{${c.contactFirstName}+${c.contactLastName}}"/>
            <td th:text="${c.addressLine1}"/>
            <td th:text="${c.city}"/>
            <td th:text="${c.phone}"/>
            <td th:text="${c.country}"/>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>