<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create/Update Office</title>
</head>
<body>
  <form action="/offices" method="post">
    <input name="officeCode" type="text" value="17"/><br>
    <input name="city" type="text" value="Bangkok"/><br>
    <input name="addressLine1" type="text" value="126 Pracha-utit"/><br>
    <input name="country" type="text" value="Thailand"/><br>
    <input name="phone" type="text" value="086-168-1110"/><br>
    <input name="postalCode" type="text" value="10140"/><br>
    <input name="territory" type="text" value="NA"/><br>
   <hr>
    <input type="submit" value="save">
  </form>
</body>
</html>